.homepage {
    width: auto;
}

.homepage h1 {
    text-align: center;

}

.homepage h2 {
    text-align: center;
    display: flex;
}

.homepage p {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: smaller;
    display: flex;
    margin-left: 5%;
    width: 500px;
}

.homepage ul {
    display: flex;
    justify-content: left;
    list-style: none;
    width: 500px;
}