.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-black);
    padding: 1rem 2rem;
}

.navbar-img {
    width: 150px;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    margin: 0 1rem;
    cursor: pointer;
}

.navbar-links li:hover {
    color: var(--color-grey);
}